/* styles.css */

/* Global styles */
.container {

    background-image: url('/images/bg8.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #000000; /* Text color for better visibility */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
  }

  .editProfileHeading {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow styles here */
  }
  
  .row {
    margin: 0 -15px;
  }
  
  /* Avatar styles */
  .avatar {
    max-width: 100px;
    border-radius: 50%;
  }
  
  /* Personal info styles */
  .personal-info {
    border: 1px solid #121010; /* Add your desired border styles */
    padding: 20px; /* Add some padding for spacing within the form */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
  }
  
  .alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
  }
  
  /* Form styles */
  .form-horizontal {
    margin-top: 20px;
  }
  
  .formcontrol{
    background-color: transparent;
  }
  .formgroup {
    margin-bottom: 15px;
  }
  
  .control-label {
    font-weight: bold;
  }
  
  /* Button styles */
/* Primary Button */
.btnprimary {
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnprimary:hover {
  background-color: #235a96;
}

/* Secondary Button */
.btnsecondary {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnsecondary:hover {
  background-color: #cc0000;
}

  
  /* Additional styles can be added as needed */
  
  /* You can also add custom styles for other elements or classes as required */
  