.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f1f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading {
    font-size: 24px;
    margin-bottom: 10px;
}

.info {
    font-size: 16px;
    margin-bottom: 8px;
}

.list {
    font-size: 16px;
    margin-top: 20px;
    list-style-type: circle;
}

.listItem {
    margin-bottom: 10px;
    left: auto;
}

.logoutButton {
    margin-top: 20px;
    text-align: center;
}

.logoutButton button {
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logoutButton button:hover {
    background-color: #d32f2f;
}